@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

section {
  background-image: url('../../public/images/unsplash_Y-Xu1Z2OG_I.png');
  background-position:center ; 
  background-size: contain;
  background-repeat: no-repeat;
}

.box {
  border-radius: 16px;
border: 1px solid var(--Gradient-blue, #5CB7FE);
background: radial-gradient(670.19% 154.81% at 100% 0%, rgba(31, 42, 69, 0.50) 0%, rgba(44, 55, 84, 0.26) 68.11%, rgba(2, 12, 37, 0.15) 100%);
box-shadow: 16px 4px 44px 0px rgba(9, 41, 87, 0.10) inset;
backdrop-filter: blur(2px);
}

.sponsor {
  border-radius: 8px;
border: 1px solid var(--light-gradient, rgba(92, 183, 254, 0.19));
background: radial-gradient(670.19% 154.81% at 100% 0%, rgba(31, 42, 69, 0.50) 0%, rgba(44, 55, 84, 0.26) 68.11%, rgba(2, 12, 37, 0.15) 100%);
box-shadow: 16px 4px 44px 0px rgba(9, 41, 87, 0.10) inset;
backdrop-filter: blur(26px);
}