@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #01010F;
}

.linear {
  background-image: url("../../public/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.box {
  border-radius: 16px;
  border: 1px solid var(--Gradient-blue, #5cb7fe);
  background: radial-gradient(
    670.19% 154.81% at 100% 0%,
    rgba(31, 42, 69, 0.5) 0%,
    rgba(44, 55, 84, 0.26) 68.11%,
    rgba(2, 12, 37, 0.15) 100%
  );
  box-shadow: 16px 4px 44px 0px rgba(9, 41, 87, 0.1) inset;
  backdrop-filter: blur(2px);
}

#sponsor {
  border-radius: 8px;
  border: 1px solid var(--light-gradient, rgba(92, 183, 254, 0.19));
  background: radial-gradient(
    670.19% 154.81% at 100% 0%,
    rgba(31, 42, 69, 0.5) 0%,
    rgba(44, 55, 84, 0.26) 68.11%,
    rgba(2, 12, 37, 0.15) 100%
  );
  box-shadow: 16px 4px 44px 0px rgba(9, 41, 87, 0.1) inset;
  backdrop-filter: blur(26px);
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #000000;
  color: #fdf8e2;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

@media (max-width: 500px) {
  .sidenav {
    padding-top: 30px;
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}
